.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: ffffff;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 50px;
}
.about-us{
  background-color: #EEEEEE;
  padding-top:90px;
  width:auto;
  height:287px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}
.about-us h2{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color:black;
  margin:auto;
  width:1110px;
  line-height: 38px;
  letter-spacing: normal;
  text-align: center;

}

.contact-info,
.contact-form {
  width: 48%;
}

h2 {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.contact-item {
  margin-bottom: 20px;
}

.icon {
  color: #c0a080;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
p{
  font-family: "Open Sans", sans-serif;
}
iframe {
  width: 100%;
  
  border: none;
}
