body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

header {
  background-color: #0a283f;
  padding: 13px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #34495e;
  border-radius: 20px;
  padding: 10px 15px;
  flex-grow: 1;
  max-width: 400px;
  margin: 0 20px;
}

.search-bar input {
  background: transparent;
  border: none;
  color: black;
  padding: 8px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  width: 1000px;
}

.search-bar input::placeholder {
  color: black;
}

.search-bar button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #3498db;
}

.cart-icon {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.cart-icon span {
  margin-left: 5px;
  font-size: 18px;
}

.auth-buttons {
  display: flex;
  gap: 5px; /* Adjust gap between buttons */
}

.login-button,
.signup-button-header {
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #3498db;
  color: white;
}

.login-button:hover {
  background-color: #2980b9;
}

.signup-button-header {
  background-color: #247436;
  color: white;
}

.signup-button-header:hover {
  background-color: #1d5b29;
}

.signup-button-header:active {
  transform: scale(0.95);
  box-shadow: rgba(94, 180, 220, 0.878) 0px 15px 10px -10px;
}

/* Styling for account information */
.account-info {
  display: flex;
  align-items: center;
}

.account-icon {
  font-size: 24px;
  margin-right: 10px;
  text-decoration: none;
}

.username {
  font-size: 16px;
  margin-right: 10px;
}

/* Hero  */

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.hero-slider img.active {
  opacity: 1;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;

  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f0f0f0;
}

.slider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.slider-nav-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-nav-dot.active {
  background-color: #fff;
}
/*  */

#cart-total {
  font-weight: bold;
}
/* part 2 */
.part2-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eeeeee;
}

.part2-content h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  text-align: center;
  padding: 50px;
  margin: auto;
  width: 1110px;
  font-size: 23px;
  line-height: 36.864px;
}

.part2-content-pic img {
  width: 900px;
  height: 500px;
  object-fit: cover;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.part2-content-pic p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 600px;
  margin: auto;
  font-weight: lighter;
  font-size: 16px;
}

.part3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #003b60;
}

.part3-content h1 {
  color: white;
  font-family: "Lobster Two", sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
}
.part3-content hr {
  display: block;
  width: 50%;
  margin-bottom: 15px;
}

.part3-content-pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
}

.part3-content-pic:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.part3-content-pic img {
  width: 480px;
  height: 340px;
  border-radius: 15px;
  object-fit: cover;
}

.part3-content-pic h4 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 480px;
  margin: auto;
  font-weight: lighter;
  font-size: 18px;
  color: #d5bd77;
  padding-bottom: 10px;
}

.part3-content-pic p {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 480px;
  margin: auto;
  font-weight: lighter;
  font-size: 14px;
  color: white;
  padding-bottom: 50px;
}
.part3-content-pic button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  border: solid;
  cursor: pointer;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  font-family: "Open Sans", sans-serif;
  border-width: 2px;
  width: 160px;
}

.part4 {
  padding:30px;
  max-height: 1080px;
  background-color: #cdb372;
}

.signup-section {
  background-color: #cdb372;
  color: white;
  text-align: center;
  padding: 20px 0;
  
  width: 100%;
}

.signup-section h2 {
  margin: 0 0 10px 0;
  color: white;
  font-size: 36px;
  padding: 10px;
  font-family: "Lobster Two", cursive;
}

.signup-section form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.signup-section input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.signup-section input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: solid;
  border-color: black;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-section input[type="submit"]:hover {
  opacity: 0.7;
  transform: 0.5s;
}



footer {
  margin-top: 50px;
  background-color: #0a283f;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  color:white;
  

}
footer p {
  margin: 0;
}
